Presentation/ExpenseSample.UI.Process/Service References/ExpenseWorkflowService/ExpenseWorkflowService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/ExpenseWorkflowService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExpenseSample.Business.Entities" />
  <xs:import schemaLocation="http://localhost:8000/ExpenseWorkflowService?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExpenseSample.Business.Entities" name="Expense" nillable="true" type="q1:Expense" />
  <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" name="CorrelationID" type="q2:guid" />
  <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ExpenseSample.Business.Entities" name="Review" nillable="true" type="q3:ExpenseReview" />
</xs:schema>