Presentation/ExpenseSample.UI.Process/Service References/ExpenseWorkflowService/ExpenseWorkflowService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ExpenseSample.Services.Contracts" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExpenseSample.Services.Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/ExpenseWorkflowService?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost:8000/ExpenseWorkflowService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ExpenseSample.Business.Entities" />
  <xs:complexType name="SubmitterRequestMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="CorrelationID" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ExpenseSample.Business.Entities" minOccurs="0" name="Expense" nillable="true" type="q1:Expense" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SubmitterRequestMessage" nillable="true" type="tns:SubmitterRequestMessage" />
</xs:schema>